*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.caixa {
    width: 80%;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__imagem {
    margin: 0px 50px 0 0;
}

.cabecalho__navegacao {
    margin-left: 50px;
}

.lista__navegacao {
    display: flex;
    list-style: none;
}

.navegacao__item {
    padding: 10px;
    text-decoration: none;
}

.item{
    text-decoration: none;
    color: #667085;
    font-weight: 500;
    font-size: 1.3em;
}

.item:hover {
    color: black;
}

.botao {
    border: none;
    background: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    color: #667085;
    font-size: 1.2em;
}

.botao:hover {
    cursor: pointer;
}

.botoes {
    flex-grow: 3;
    text-align: right;
}

.cadastrar {
    background-color: #8E2424;
    color: white;
}

.sobre {
    display: flex;
    height: 70vh;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.sobre__caixa {
    margin-top: 10%;
}

.sobre__subtitulo {
    text-align: center;
    font-size: 24px;
    color: #8E2424;
    padding: 20px;
}

.sobre__titulo {
    font-size: 60px;
    color: black;
}

.sobre__paragrafo {
    font-size: 30px;
    color: #667085;
    padding: 0 10%;
}

.lista__estatisticas {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.estatisticas__item {
    width: 20%;
}

.estatisticas__titulo {
    font-size: 60px;
    color: #8E2424;
    font-weight: 600;
    margin-bottom: 20px;
}

.estatisticas__subtitulo {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.estatisticas__texto {
    color: #667085;
}

.sobre__imagem {
    margin: 3em 0;
}

.vagas {
    margin-top: 5%;
}

.vagas__titulo {
    margin: 0 0 5% 18%;
}

.lista__vagas {
    width: 60%;
    margin: 0 auto;
    list-style: none;
}

.vagas__item {
    border: 1px solid rgba(66, 70, 85, 0.1);
    border-radius: 7px;
    padding: 6%;
    margin-bottom: 5%;
}

.vagas__subtitulo {
    font-size: 28px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.vagas__texto {
    font-size: 24px;
    color: #667085;
    font-family: Arial, Helvetica, sans-serif;
}